.sidebar-view-subreddit {
  position: relative;
  width: 312px;
  height: 242px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878A8C;
  position: relative;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
}

.navigate-subreddit {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.sidebar-view-subreddit {
  height: 273px;
}

hr {
    color: #fff;
}

.list-subreddit {
  display: inline-block;
  cursor: pointer;
  margin: 0 12px 12px 0;
  padding: 0;
}

.subreddit a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

.subreddit a:hover {
  text-decoration: underline;
}

.reddit-ver-mais {
  text-align: center;
  background-color: #f7f9fa;
  position: absolute;
  width: 294px;
  padding: 22px 0;
  bottom: 0;
}

.reddit-ver-mais a {
  text-decoration: none;
  font-weight: 500;
  color: #0079D3;
  padding: 10px 15px;
  border-radius: 37px;
}

.reddit-ver-mais a:hover{
  background-color: #d9d9d970;
}