.votebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40px;
  background-color: #f7f9fa;
  padding-top: 8px;
  border-radius: 8px 0 0 8px;
}

.box-upvote,
.box-downvote {
  border-radius: 4px;
  color: #878A8C;
}

.box-upvote:hover {
  background-color: #d9d9d970;
  color: #cc3700;
}

.box-downvote:hover {
  background-color: #d9d9d970;
  color: #5A75CC;
}

.votecount {
  font-size: 12px;
  font-weight: 500;
}

.upvote__success {
  color: #cc3700;
}

.downvote__success {
  color: #5A75CC;
}