<div class="sidebar">
  <div class="image"></div>
  <div class="home">
    <div class="home__image"></div>
    <div class="home__titulo">Página Inicial</div>
  </div>
  <div style="text-align: center; font-size: 14px">Bem-vindo à página inicial do Reddit-Clone. Venha aqui para
    verificar suas comunidades favoritos.</div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="criarPostagem()">Criar Postagem</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="criarSubreddit()">Criar Comunidade</button>
  </div>
</div>