.sidebar {
  width: 310px;
  height: 262px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #1c1c1c;
  border-radius: 8px;
  margin-bottom: 10px;
}

.image {
    display: flex;
    width: 100%;
    height: 34px;
    border-radius: 8px 8px 0 0;
    background: url("../../../../assets/banner-side-bar.jpg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.home__image {
  display: flex;
  background: url("../../../../assets/snoo-home.png")repeat scroll 0% 0% / 40px 68px;
  margin-right: 16px;
  height: 68px;
  width: 40px;
  transform: translateY(-16px);
}

.home__titulo {
  font-size: 16px;
  font-weight: 500;
}

.btnCreatePost,
.btnCreateSubreddit {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 34px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
  cursor: pointer;
  margin-top: 8px;
}

.btnCreateSubreddit {
  margin-top: 12px;
  color: #0079D3;
  background-color: transparent;
}

.btnCreatePost:hover {
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
}

.btnCreateSubreddit:hover {
  box-shadow: inset 0 0 100px rgba(30, 139, 216, 0.05);
}