header {
    background-color: #f7f9fa;
}

.banner {
    width: 100%;
    min-height: 80px;
    background-color: #33a8ff;
}

.subreddit {
    display: flex;
    width: 1024px;
    height: 78px;
    margin: 0 auto;
    padding: 0 16px 0 24px;
}

.icon {
    height: 72px;
    width: 72px;
    border: 5px solid #f7f9fa;
    background-color: #33a8ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-16px);
    margin-right: 16px;
}

.icon p {
    margin-bottom: 16px;
    font-size: 56px;
    font-weight: 500;
    color: #f7f9fa;
}

.subreddit_info {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.subreddit__info__name {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.subreddit__info__username {
    font-size: 14px;
    font-weight: 500;
    color: #7c7c7c;
}

.subreddit__info__username a {
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  text-decoration: none;
}

.subreddit__info__username a:hover {
    text-decoration: underline;
}

.home {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.sidebar_subreddit_info {
    width: 310px;
    min-height: 262px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #1c1c1c;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar_subreddit_info_header {
    width: 100%;
    height: 46px;
    background-color: #33a8ff;
    line-height: 46px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #1c1c1c;
}

.description {
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
}

.line {
    margin: 0 12px;
    width: calc(100% - 24px);
    height: 1px;
    background-color: #edeff1;
}

.numberOfPosts {
    display: flex;
    flex-direction: column;
    padding: 0 12px 12px;
}

.number {
    font-size: 16px;
    font-weight: 500;
}

.posts {
  font-size: 12px;
  font-weight: 500;
}

.date {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
}

.date_icon {
    margin-right: 4px;
    font-size: 20px;
}

.btnCreatePost {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 34px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
  cursor: pointer;
  margin-bottom: 12px;
}

.btnCreatePost:hover {
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
}