<div class="posts">
  <div class="posts__sort">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip class="chip-sort" 
          (click)="sortEvent('reactionsCount,desc')"
          [ngClass]="status == 'reactionsCount,desc' ? 'success' : ''"
        >
        <mat-icon>local_fire_department</mat-icon>
        <span>Em Destaque</span>
      </mat-chip>

      <mat-chip class="chip-sort" 
          (click)="sortEvent('postId,desc')" 
          [ngClass]="status == 'postId,desc' ? 'success' : ''"
        >
        <mat-icon>brightness_low</mat-icon>
        <span>Novos</span>
      </mat-chip>

      <mat-chip class="chip-sort" 
          (click)="sortEvent('voteCount,desc')" 
          [ngClass]="status == 'voteCount,desc' ? 'success' : ''"
        >
        <mat-icon>how_to_vote</mat-icon>
        <span>Mais Votados</span>
      </mat-chip>

      <mat-chip class="chip-sort" 
          (click)="sortEvent('commentCount,desc')" 
          [ngClass]="status == 'commentCount,desc' ? 'success' : ''"
        >
        <mat-icon>add_comment</mat-icon>
        <span>Mais Comentados</span>
      </mat-chip>
    </mat-chip-list>

  </div>
  <div class="post" *ngFor="let post of posts$">

    <div class="votebox">
      <app-vote-button [post]="post"></app-vote-button>
    </div>

    <div class="post-info">
      <span class="subreddit-info">
        <span class="subreddit-text"><a class="posturl" routerLink="">{{post.subredditName}}</a></span>
        <span> . Postado por <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>
        <span> . {{post.duration}}</span>
      </span>
      <div class="post-title">
        <h3 class="postname">{{post.postName}}</h3>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.description | safeHtml"></p>
      </div>
      <div>
        <a *ngIf="post.url" href="{{post.url}}" target="_blank" class="post-url">
          {{post.url}}
          <mat-icon class="iconUrl">ios_share</mat-icon>
        </a>
      </div>

      <a class="btnCommments">
        <mat-icon class="iconComments">chat_bubble_outline</mat-icon>
        {{post.commentCount}} Comentários
      </a>
    </div>
  </div>
</div>