.posts {
  max-width: 640px;
  width: 640px;
  height: 100%;
  margin-right: 24px;
}

.posts__sort {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  height: 72px;
  padding: 10px 12px;
  margin-bottom: 16px;
}

.chip-sort {
  color: #878A8C;
  background: none;
  cursor: pointer;
}

.post {
  display: flex;
  border-radius: 8px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post:hover {
  border: 1px solid rgba(0, 0, 0, 0.50);
}

.votebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40px;
  background-color: #f7f9fa;
  border-radius: 8px 0 0 8px;
}

.post-info {
  padding: 8px 16px 0px 8px;
  border-radius: 0 8px 8px 0;
  width: 100%;
}

.subreddit-info {
  font-size: 12px;
  color: rgb(120, 124, 126);
}

.posturl {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.posturl:hover {
  text-decoration: underline;
}

.username {
  color: rgb(120, 124, 126);
  text-decoration: none;
}

.username:hover {
  text-decoration: underline;
}

.postname {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.post-url {
  color: #0079D3;
  text-decoration: none;
}

.iconUrl {
  font-size: 16px;
}

.post-url:hover {
  text-decoration: underline;
}

.options {
  display: flex;
  align-items: center;
}

.btnCommments {
  display: inline-flex;
  align-items: center;
  color: rgb(120, 124, 126);
  height: 24px;
  padding: 16px 8px;
  font-size: 12px;
  font-weight: 500;
}

.btnCommments:hover {
  background: rgba(26, 26, 27, 0.1);
}

.iconComments {
  transform: scale(-1, 1);
  margin-right: 4px;
}

.success {
  background-color: #F6F7F8;
  color: #0079D3;
}