main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 524px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 14px;
  top: 14px;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.icon_close {
  height: 28px;
  width: 28px;
  font-size: 28px;
  text-align: center;
  color: #878a8c;
}

.container {
  padding: 16px 16px 0;
}

.title {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
}

h3.title {
  margin-top: 16px;
  margin-bottom: 4px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #878a8c60;
}

.text {
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  padding: 16px;
  background-color: #edeff1;
}

.button {
  width: 120px;
  height: 32px;
  border-radius: 32px;
  background-color: #f4f9fd;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
  color: #0079d3;
  cursor: pointer;
}

.cancel {
  border: 1px solid #1e89d8;
}

.cancel:hover {
  box-shadow: inset 0 0 100px rgba(30, 139, 216, 0.05);
}

.delete {
  margin-left: 16px;
  background-color: #0079d3;
  color: #fff;
}

.delete:hover {
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
}