.home {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
}

.posts {
    max-width: 640px;
    width: 640px;
    height: 100%;
    margin-right: 24px;
}

.post {
    display: flex;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}

.post:hover {
    border: 1px solid #000;
}

.votebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #f7f9fa;
    padding-top: 8px;
    border-radius: 8px 0 0 8px;
}

.box-upvote,
.box-downvote {
    border-radius: 4px;
    color: #878A8C;
}

.box-upvote:hover{
  background-color: #ccc;
  color: #cc3700;
}

.box-downvote:hover {
  background-color: #ccc;
  color: #5A75CC;
}

.votecount {
    font-size: 16px;
    font-weight: 400;
}

.post-info {
    padding: 8px 8px 0px;
    border-radius: 0 8px 8px 0;
}

.subreddit-info {
    font-size: 12px;
    color: rgb(120, 124, 126);
}

.posturl {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.posturl:hover {
    text-decoration: underline;
}

.username {
    color: rgb(120, 124, 126);
    text-decoration: none;
}

.username:hover {
  text-decoration: underline;
}

.postname {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.btnCommments {
    display: inline-flex;
    align-items: center;
    color: rgb(120, 124, 126);
    height: 24px;
    padding: 16px 8px;
    font-size: 12px;
    font-weight: 500;
}

.btnCommments:hover {
    background: rgba(26, 26, 27, 0.1);
}

.iconComments {
    transform: scale(-1, 1);
    margin-right: 4px;
}

.sidebar {
    max-width: 310px;
    width: 310px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}