.home {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 310px;
}