.home {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
}

.sidebar {
    max-width: 310px;
    width: 310px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}