<main>
  <div class="image"></div>
  <div class="container">
    <h2> Entrar </h2>
    <span class="termos">Ao continuar, você concorda com nossos Termos de Uso e nossa Política de Privacidade.</span>

    <form class="form" [formGroup]="loginForm" (submit)="login()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Nome do usuário
        </mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
          <span *ngIf="loginForm.controls.username.errors!.required">Este campo é obrigatório.</span>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Sennha
        </mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors!.required">Este campo é obrigatório.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit">Entrar</button>
    </form>

    <span class="termos">Primeira vez no Reddit? <a class="signup" (click)="openSignup()"> Cadastrar-se</a> </span>
  </div>
  <a class="close" (click)="closeDialog()">
    <mat-icon aria-hidden="false" class="icon_close">clear</mat-icon>
  </a>
</main>
